<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{# Login errors #}
{% if error %}
<div>{{ error.message }}</div>
{% endif %}

{# current user #}
{% if app.user %}
<div>logged in as : {{ app.user.username }} (<a href="{{ path('logout') }}">logout</a>)</div>
{% endif %}

{# Login form #}
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Login:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <br>

    <label for="password">User password:</label>
    <input type="password" id="password" name="_password" />
    <br>

    <label for="password2">Master password:</label>
    <input type="password" id="password2" name="_password2" />
    <br>

    <input type="submit" value="Connection" />
</form>

</body>
</html>